.members .badge,.members strong { 
    margin-right: 10px;
     margin-top: 10px;
     float : left;
}

.members .btn-default { 
    float : right;
}

.members.list-group {
    margin-top: 5px;
}
.members.list-group a{
    overflow: hidden;
}

#members-search-input {
    margin-top: 10px;
}