<div class="row">
    <div class="col-md-6">
        <ul class="members list-group">
            <a href="#" *ngFor="let member of members" (click)="onSelect(member); false;" [class.selected]="member === selectedMember"
                class="list-group-item">
                <span class="badge">{{member.id}}</span> <strong>{{member.name}}</strong>
                <button class="btn btn-default" (click)="delete(member); $event.stopPropagation()">x</button>
            </a>
        </ul>
    </div>
    <div class="col-md-6" *ngIf="selectedMember">
        <member-detail ["member"]="selectedMember"></member-detail>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="row">
    <label>Member name:</label> <input #memberName />
    <button class="btn btn-info" (click)="add(memberName.value); memberName.value=''"> Add </button>
</div>