<ul class="members">
    <li *ngFor="let member of members" (click)="onSelect(member)" [class.selected]="member === selectedMember">
        <span class="badge">{{member.id}}</span> <span>{{member.name}}</span>
        <button class="delete" (click)="delete(member); $event.stopPropagation()">x</button>
    </li>
</ul>

<div *ngIf="selectedMember">
    <h2>
        {{selectedMember.name | uppercase}} is my best member
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>

<div>
    <label>Member name:</label> <input #memberName />
    <button (click)="add(memberName.value); memberName.value=''">
    Add
  </button>
</div>
<router-outlet></router-outlet>